<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="d-flex j-bw a-center h-full">
              <div class="d-flex"><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-phone.svg" alt=""/></span><span class="txt">(470) 399-0965</span></a><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-mail.svg" alt=""/></span><span class="txt">info@usamedicalcodingschool.com</span></a></div>
              <div class="d-flex"><a class="iwt hd-box" href=""><span class="icon"> <img src="./assets/images/ic-cart.svg" alt=""/></span></a><a class="iwt hd-box" href=""><span class="text">Learning Login</span></a>
                <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ic-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (3).svg" alt=""/></a>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot d-flex j-bw a-center">
            <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.png" alt=""/></a></div>
            <div class="hd-nav"> 
              <div class="menu-nav"> 
                <ul class="menu-list">
                  <li class="menu-item current-menu-item"><a class="menu-link" href=""> About Us</a></li>
                  <li class="menu-item dropdown"><a class="menu-link" href=""> Programs</a>
                    <ul class="menu-list"> 
                      <li class="menu-item"><a class="menu-link" href="">Demo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Demo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Demo</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href=""> Enrollment</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Payment</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Jop Opportunities</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Blog</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="hd-burger" id="hamburger"> 
              <div class="burger"> 
                <div class="hamburger"> 
                  <div class="line"> </div>
                  <div class="line">  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href="">Home</a></li>
                  <li class="menu-item"><a class="menu-link" href="">About Us</a></li>
                  <li class="menu-item dropdown"><a class="menu-link" href=""> Programs </a>
                    <ul class="menu-list">
                      <li class="menu-item"><a class="menu-link" href="">DemoSp</a></li>
                      <li class="menu-item"><a class="menu-link" href="">DemoSp</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Enrollment</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Payment</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Jop Opportunities</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Blog</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Contact Us</a></li>
                </ul>
              </div>
              <div class="mobile-content">
                <p class="t-txt c-pri fw-6 mb-8">Contact with us</p>
                <div class="d-flex d-col">
                  <div class="d-flex d-col"><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-phone.svg" alt=""/></span><span class="txt">(470) 399-0965</span></a><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-mail.svg" alt=""/></span><span class="txt">info@usamedicalcodingschool.com</span></a></div>
                  <div class="d-flex"><a class="iwt hd-box" href=""><img src="./assets/images/ic-cart.svg" alt=""/></a><a class="iwt hd-box" href=""><span class="text">Learning Login</span></a>
                    <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ic-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (3).svg" alt=""/></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main page-template">
      <div class="bnp"> 
        <div class="bnp-wrap"> 
          <h1 class="t-text">About us </h1>
          <div class="bnp-bg"> <img src="./assets/images/bnp-blog.jpg" alt=""/>
          </div>
        </div>
      </div>
      <section class="sec-wel"> 
        <div class="wel ss-pd">
          <div class="container"> 
            <div class="t-center wel-head"> 
              <div class="re-tag mb-24">ABOUT US </div>
              <h2 class="t-title">
                 Welcome to  <br>USA Medical Billing & Coding School</h2>
            </div>
            <div class="wel-row row"> 
              <div class="wel-col col">
                <h3 class="wel-title">Blended CPC and CPB Curriculm</h3>
                <p class="wel-des">We have developed a unique Blended CPC and CPB curriculum, meticulously crafted to meet the rigorous standards set by the AAPC. This curriculum serves as a one-stop solution, equipping our graduates with the expertise needed to successfully obtain certifications in both Medical Billing and Coding. By offering this comprehensive program, we streamline the learning process, saving our students time and ensuring they are thoroughly prepared for the challenges of the industry.</p>
              </div>
              <div class="wel-col col"> 
                <div class="wel-img"> <img src="./assets/images/wel-img.jpg" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-top"> 
            <div class="b-row row"> 
              <div class="col col-4">
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (1).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Address: </span><a class="text" href="">3687 Briarcliff Rd NE Atlanta, GA 30345  </a></div>
                </div>
              </div>
              <div class="col col-4"> 
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (2).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Phone:</span><a class="text" href="">+1470-399-0965 </a></div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (3).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Email:</span><a class="text" href="">info@usamedicalcoding-school.com</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bot"> 
            <div class="b-row row"> 
              <div class="col col-4">
                <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/ft-logo.png" alt=""/></a></div>
              </div>
              <div class="col col-8">
                <div class="ft-group">
                  <div class="ft-box"> <span class="t-text">Links</span>
                    <ul class="menu"> 
                      <li><a href="">About Us </a></li>
                      <li> <a href="">Payment</a></li>
                      <li> <a href="">Programs </a></li>
                      <li> <a href="">Job Opportunities</a></li>
                      <li> <a href="">Enrollment</a></li>
                      <li> <a href="">Blog      </a></li>
                    </ul>
                  </div>
                  <div class="ft-box"> <span class="t-text">Subscribe for Newsletter </span>
                    <div class="ft-form"> 
                      <form action="">
                        <div class="d-flex not-wrap">
                          <input type="text" placeholder="Email Address">
                          <button class="btn-text" type="submit"><span class="text">Subcribe Now</span></button>
                        </div>
                      </form>
                    </div>
                    <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ft-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ft-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ft-sc (3).svg" alt=""/></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ft-end"> 
          <div class="d-flex j-center a-center"><span class="text">Copyright @2025 USA Medical Billing & Coding School</span><span class="text">Designed by Qixtech - Web Design & Digital Marketing</span></div>
        </div>
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>