<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="d-flex j-bw a-center h-full">
              <div class="d-flex"><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-phone.svg" alt=""/></span><span class="txt">(470) 399-0965</span></a><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-mail.svg" alt=""/></span><span class="txt">info@usamedicalcodingschool.com</span></a></div>
              <div class="d-flex"><a class="iwt hd-box" href=""><span class="icon"> <img src="./assets/images/ic-cart.svg" alt=""/></span></a><a class="iwt hd-box" href=""><span class="text">Learning Login</span></a>
                <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ic-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (3).svg" alt=""/></a>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot d-flex j-bw a-center">
            <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.png" alt=""/></a></div>
            <div class="hd-nav"> 
              <div class="menu-nav"> 
                <ul class="menu-list">
                  <li class="menu-item current-menu-item"><a class="menu-link" href=""> About Us</a></li>
                  <li class="menu-item dropdown"><a class="menu-link" href=""> Programs</a>
                    <ul class="menu-list"> 
                      <li class="menu-item"><a class="menu-link" href="">Demo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Demo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Demo</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href=""> Enrollment</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Payment</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Jop Opportunities</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Blog</a></li>
                  <li class="menu-item"><a class="menu-link" href=""> Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="hd-burger" id="hamburger"> 
              <div class="burger"> 
                <div class="hamburger"> 
                  <div class="line"> </div>
                  <div class="line">  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href="">Home</a></li>
                  <li class="menu-item"><a class="menu-link" href="">About Us</a></li>
                  <li class="menu-item dropdown"><a class="menu-link" href=""> Programs </a>
                    <ul class="menu-list">
                      <li class="menu-item"><a class="menu-link" href="">DemoSp</a></li>
                      <li class="menu-item"><a class="menu-link" href="">DemoSp</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Enrollment</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Payment</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Jop Opportunities</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Blog</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Contact Us</a></li>
                </ul>
              </div>
              <div class="mobile-content">
                <p class="t-txt c-pri fw-6 mb-8">Contact with us</p>
                <div class="d-flex d-col">
                  <div class="d-flex d-col"><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-phone.svg" alt=""/></span><span class="txt">(470) 399-0965</span></a><a class="hd-box iwt" href=""><span class="icon"> <img src="./assets/images/ic-mail.svg" alt=""/></span><span class="txt">info@usamedicalcodingschool.com</span></a></div>
                  <div class="d-flex"><a class="iwt hd-box" href=""><img src="./assets/images/ic-cart.svg" alt=""/></a><a class="iwt hd-box" href=""><span class="text">Learning Login</span></a>
                    <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ic-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-sc (3).svg" alt=""/></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main page-template">
      <section class="sec-bner">
        <div class="bner"> 
          <div class="bner-row"> 
            <div class="bner-col">
              <div class="bner-bg"> <img src="./assets/images/bner-bg.jpg" alt=""/>
                <div class="bner-dc x1"><img src="./assets/images/bner-dc-1.svg" alt=""/>
                </div>
                <div class="bner-dc x2"><img src="./assets/images/bner-dc-2.svg" alt=""/>
                </div>
              </div>
              <div class="bner-content"> 
                <div class="bner-content-inner">
                  <div class="bner-tag">Educate, connect, and empower</div>
                  <h1 class="bner-title">Become a Certified U.S Medical Biller & Coder</h1>
                  <p class="bner-des">
                     Empower your future with flexible online courses, expert<br>guidance, and student loan options</p>
                  <div class="bner-control"><a class="btn" href=""><span class="inner">Send Us</span><i class="fa-light fa-arrow-right icon"></i></a><img src="./assets/images/bner-logo.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
            <div class="bner-col"> 
              <div class="bner-img"> <img src="./assets/images/bner-bg.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="int"> 
        <div class="int-container"> 
          <div class="int-list"> 
            <div class="int-item"> <img src="./assets/images/int-ic-1.svg" alt=""/><span class="txt-1">Duration:</span><span class="txt">5 months</span>
            </div>
            <div class="int-item"> <img src="./assets/images/int-ic-2.svg" alt=""/><span class="txt-1">Start Date:</span><span class="txt">22d : 14hrs : 13m</span>
            </div>
            <div class="int-item"> <img src="./assets/images/int-ic-3.svg" alt=""/><span class="txt-1">Location:</span><span class="txt">Blended Learning</span>
            </div>
          </div>
        </div>
      </div>
      <section class="sec-program">
        <div class="program ss-pd">
          <div class="container">
            <div class="program-head"> 
              <div class="left"> 
                <div class="re-tag">KEY BENEFITS</div>
                <h2 class="t-title">Program Highlight.</h2>
              </div>
              <div class="right"> 
                <p class="des">
                   Gain in-demand medical billing and coding skills through a structured program designed for success. With dual certification, real-world practice, and career placement support, USA Medical Billing and Coding School prepares you for a stable and rewarding future in the U.S. healthcare industry.</p>
              </div>
            </div>
            <div class="program-slider"> 
              <div class="swiper-container"> 
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                      <div class="program-box"> <img src="./assets/images/program-img.jpg" alt=""/>
                        <div class="program-content"> 
                          <p class="program-name">Master Medical Terminology</p>
                          <p class="program-des">Learn medical terminology: prefixes, suffixes, roots, combining forms. Interpret medical reports accuratelya</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="program-box"> <img src="./assets/images/program-img.jpg" alt=""/>
                        <div class="program-content"> 
                          <p class="program-name">Master Medical Terminology</p>
                          <p class="program-des">Learn medical terminology: prefixes, suffixes, roots, combining forms. Interpret medical reports accuratelya</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="program-box"> <img src="./assets/images/program-img.jpg" alt=""/>
                        <div class="program-content"> 
                          <p class="program-name">Master Medical Terminology</p>
                          <p class="program-des">Learn medical terminology: prefixes, suffixes, roots, combining forms. Interpret medical reports accuratelya</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-control"> 
                <div class="swiper-control-btn swiper-prev"> <i class="fa-light fa-arrow-left"></i></div>
                <div class="swiper-control-btn swiper-next"> <i class="fa-light fa-arrow-right"></i></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-uti"> 
        <div class="uti"> 
          <div class="container"> 
            <div class="t-center mb-24"> 
              <p class="uti-sub"> WHAT YOU WILL GET</p>
            </div>
            <div class="row uti-list">
              <div class="col col-4"> 
                <div class="uti-wrap"><img src="./assets/images/uti-ic-1.svg" alt=""/>
                  <div class="uti-content"> 
                    <p class="uti-name">Dual US. Certifications (CPC & CPB, AAPC-accredited)</p>
                  </div>
                </div>
              </div>
              <div class="col col-4"> 
                <div class="uti-wrap"><img src="./assets/images/uti-ic-2.svg" alt=""/>
                  <div class="uti-content"> 
                    <p class="uti-name">Guaranteed job interview upon post-certification with us</p>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="uti-wrap"><img src="./assets/images/uti-ic-3.svg" alt=""/>
                  <div class="uti-content"> 
                    <p class="uti-name">Study from anywhere, anytime with a self-paced curriculum</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-qa"> 
        <div class="qa ss-pd"> 
          <div class="container">
            <div class="t-center qa-head">
              <div class="re-tag mb-24">KEY BENEFITS</div>
              <h2 class="t-title mb-16">What makes our program the best choice for you?</h2>
              <p class="des">Our program is designed for your success with a structured curriculum, experienced instructors, and dedicated career support.</p>
            </div>
            <div class="qa-wrapper">
              <div class="qa-list collapse-block"> 
                <div class="qa-item collapse-item"><img src="./assets/images/qa-dc.png" alt=""/>
                  <div class="qa-heading collapse-head">
                    <p class="title">High Paying - Salaries</p><span class="icon"></span>
                  </div>
                  <div class="qa-body collapse-body">
                    <div class="qa-flex">
                      <div class="qa-left"> 
                        <p>Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.</p>
                      </div>
                      <div class="qa-img"> <img src="./assets/images/qa-img.jpg" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="qa-item collapse-item"><img src="./assets/images/qa-dc.png" alt=""/>
                  <div class="qa-heading collapse-head">
                    <p class="title"> Flexible Remote Working</p><span class="icon"></span>
                  </div>
                  <div class="qa-body collapse-body">
                    <div class="qa-flex">
                      <div class="qa-left"> 
                        <p>Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.</p>
                      </div>
                      <div class="qa-img"> <img src="./assets/images/qa-img.jpg" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="qa-item collapse-item"><img src="./assets/images/qa-dc.png" alt=""/>
                  <div class="qa-heading collapse-head">
                    <p class="title">Easy Studying Schedule</p><span class="icon"></span>
                  </div>
                  <div class="qa-body collapse-body">
                    <div class="qa-flex">
                      <div class="qa-left"> 
                        <p>Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.</p>
                      </div>
                      <div class="qa-img"> <img src="./assets/images/qa-img.jpg" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="qa-item collapse-item"><img src="./assets/images/qa-dc.png" alt=""/>
                  <div class="qa-heading collapse-head">
                    <p class="title">Long-term job stability</p><span class="icon"></span>
                  </div>
                  <div class="qa-body collapse-body">
                    <div class="qa-flex">
                      <div class="qa-left"> 
                        <p>Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.</p>
                      </div>
                      <div class="qa-img"> <img src="./assets/images/qa-img.jpg" alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-lead"> 
        <div class="lead ss-pd"> 
          <div class="lead-dc x1"> <img src="./assets/images/lead-dc-1.png" alt=""/>
          </div>
          <div class="lead-dc x2"><img src="./assets/images/lead-dc-2.png" alt=""/>
          </div>
          <div class="container">
            <div class="row"> 
              <div class="col col-6 lead-col"> 
                <div class="lead-img"> <img src="./assets/images/lead-img.jpg" alt=""/>
                </div>
              </div>
              <div class="col col-6 lead-col">
                <div class="lead-content">
                  <div> <span class="lead-tag re-tag">THE LEADERSHIP</span>
                    <h2 class="lead-title">Michael Andrews</h2>
                    <p class="lead-des t-title">Introducing our talented Program Director that lead your way.</p>
                  </div>
                  <div class="lead-flex"> 
                    <div class="lead-item">
                      <div class="lead-ic"> <img src="./assets/images/lead-ic-1.svg" alt=""/>
                      </div>
                      <div class="lead-name">30+ Years Medical Coding and Billing Expertise</div>
                    </div>
                    <div class="lead-item">
                      <div class="lead-ic"> <img src="./assets/images/lead-ic-2.svg" alt=""/>
                      </div>
                      <div class="lead-name">Dual Master's Degree in Business & Healthcare</div>
                    </div>
                    <div class="lead-item">
                      <div class="lead-ic"> <img src="./assets/images/lead-ic-3.svg" alt=""/>
                      </div>
                      <div class="lead-name">Certified Professional with AAPC & MGMA</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-ab">
        <div class="ab ss-pd">
          <div class="container"> 
            <div class="row ab-row">
              <div class="col col-6 ab-col"> 
                <div class="ab-content">
                  <div class="ab-head">
                    <div class="re-tag">AFFORDABLE OPTIONS</div>
                    <h2 class="t-title">Flexible Payment.</h2>
                    <p class="des">Flexible payment plans make your education affordable and accessible, with discounts and installment options available.</p>
                  </div>
                  <ul class="ab-list second">
                    <li class="ab-item">
                      <div class="ab-flex"> <img src="./assets/images/ic-checked.svg" alt=""/><span class="txt">Online Payments</span>
                      </div>
                    </li>
                    <li class="ab-item">
                      <div class="ab-flex"> <img src="./assets/images/ic-checked.svg" alt=""/><span class="txt">Student Loans</span>
                      </div>
                    </li>
                    <li class="ab-item">
                      <div class="ab-flex"> <img src="./assets/images/ic-checked.svg" alt=""/><span class="txt">Monthly Payments</span>
                      </div>
                    </li>
                    <li class="ab-item">
                      <div class="ab-flex"> <img src="./assets/images/ic-checked.svg" alt=""/><span class="txt">School Scholarships Available </span>
                      </div>
                    </li>
                    <li class="ab-item">
                      <div class="ab-flex"> <img src="./assets/images/ic-checked.svg" alt=""/><span class="txt">One-Time Payment Discount</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col col-6 ab-col">
                <div class="ab-img"> <img src="./assets/images/ab-img-1.jpg" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-ab">
        <div class="ab ss-pd">
          <div class="container"> 
            <div class="row ab-row">
              <div class="col col-6 ab-col">
                <div class="ab-img second"><img src="./assets/images/ab-img-2.jpg" alt=""/>
                </div>
              </div>
              <div class="col col-6 ab-col"> 
                <div class="ab-head">
                  <div class="re-tag">ABOUT US</div>
                  <h2 class="t-title">Get to know us.</h2>
                  <p class="des">We are passionately committed to delivering opportunities and bridging the gap between the needs of the healthcare industry and individuals seeking career satisfaction, while transforming lives and communities.</p>
                </div>
                <div class="ab-ls">
                  <div class="ab-it">
                    <p class="title">Our Vision</p>
                    <p class="des">To empower students to thrive as professional medical coders and billers, supporting their </p>
                  </div>
                  <div class="ab-it">
                    <p class="title">Our Strategy</p>
                    <p class="des">To empower students to thrive as professional medical coders and billers, supporting their   </p>
                  </div>
                </div><a class="btn" href=""><span class="inner">About Us</span><i class="fa-light fa-arrow-right icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-call"> 
        <div class="call ss-pd ss-mg-t">
          <div class="container">
            <div class="call-wrapper"> 
              <div class="call-row">
                <div class="call-col">
                  <div class="call-content">
                    <p class="t-title">Start Your U.S. Medical Billing & Coding Career Today!</p><a class="btn white" href=""><span class="inner">Enroll Now</span><i class="fa-light fa-arrow-right icon"></i></a>
                  </div>
                </div>
                <div class="call-col">
                  <div class="call-img"><a class="call-action">
                      <div class="in"><img src="./assets/images/ic-call.svg" alt=""/>
                      </div></a>
                    <div class="inner"> <img src="./assets/images/call-img.png" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-regi"> 
        <div class="regi ss-pd">
          <div class="regi-dc"> <img src="./assets/images/regi-dc.png" alt=""/>
          </div>
          <div class="container"> 
            <div class="t-center regi-head">
              <div class="re-tag mb-24">REGISTER </div>
              <h2 class="t-title">
                 Sign Up for Your Future in  <br>Healthcare Industry.</h2>
            </div>
            <div class="regi-wrapper">
              <div class="regi-row"> 
                <div class="regi-col">
                  <p class="regi-title">Register form</p>
                  <div class="regi-form"> 
                    <form action=""></form>
                  </div>
                </div>
                <div class="regi-col">
                  <div class="regi-img"><img src="./assets/images/regi-img.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-top"> 
            <div class="b-row row"> 
              <div class="col col-4">
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (1).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Address: </span><a class="text" href="">3687 Briarcliff Rd NE Atlanta, GA 30345  </a></div>
                </div>
              </div>
              <div class="col col-4"> 
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (2).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Phone:</span><a class="text" href="">+1470-399-0965 </a></div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-ct iwt j-center"> <span class="icon"> <img src="./assets/images/ic-ad (3).svg" alt=""/></span>
                  <div class="t-gr"> <span class="txt fw-4">Email:</span><a class="text" href="">info@usamedicalcoding-school.com</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bot"> 
            <div class="b-row row"> 
              <div class="col col-4">
                <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/ft-logo.png" alt=""/></a></div>
              </div>
              <div class="col col-8">
                <div class="ft-group">
                  <div class="ft-box"> <span class="t-text">Links</span>
                    <ul class="menu"> 
                      <li><a href="">About Us </a></li>
                      <li> <a href="">Payment</a></li>
                      <li> <a href="">Programs </a></li>
                      <li> <a href="">Job Opportunities</a></li>
                      <li> <a href="">Enrollment</a></li>
                      <li> <a href="">Blog      </a></li>
                    </ul>
                  </div>
                  <div class="ft-box"> <span class="t-text">Subscribe for Newsletter </span>
                    <div class="ft-form"> 
                      <form action="">
                        <div class="d-flex not-wrap">
                          <input type="text" placeholder="Email Address">
                          <button class="btn-text" type="submit"><span class="text">Subcribe Now</span></button>
                        </div>
                      </form>
                    </div>
                    <div class="social-list"><a class="social-link" href=""><img src="./assets/images/ft-sc (1).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ft-sc (2).svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ft-sc (3).svg" alt=""/></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ft-end"> 
          <div class="d-flex j-center a-center"><span class="text">Copyright @2025 USA Medical Billing & Coding School</span><span class="text">Designed by Qixtech - Web Design & Digital Marketing</span></div>
        </div>
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>