extends layout/layout

block vars
   -title = 'Home'
   -bodyClass = 'page-template'

block container
   section.sec-bner
      .bner 
         .bner-row 
            .bner-col
               .bner-bg 
                  +img("bner-bg.jpg")
                  .bner-dc.x1
                     +img("bner-dc-1.svg")
                  .bner-dc.x2
                     +img("bner-dc-2.svg")
               .bner-content 
                  .bner-content-inner
                     div.bner-tag Educate, connect, and empower
                     h1.bner-title Become a Certified U.S Medical Biller & Coder
                     p.bner-des 
                        | Empower your future with flexible online courses, expert
                        br
                        | guidance, and student loan options
                     .bner-control
                        +Btn("Send Us")
                        +img("bner-logo.png")
            .bner-col 
               .bner-img 
                  +img("bner-bg.jpg")
   .int 
      .int-container 
         .int-list 
            .int-item 
               +img("int-ic-1.svg")
               span.txt-1 Duration:
               span.txt 5 months
            .int-item 
               +img("int-ic-2.svg")
               span.txt-1 Start Date:
               span.txt 22d : 14hrs : 13m
            .int-item 
               +img("int-ic-3.svg")
               span.txt-1 Location:
               span.txt Blended Learning
   section.sec-program
      .program.ss-pd
         .container
            .program-head 
               .left 
                  .re-tag KEY BENEFITS
                  h2.t-title Program Highlight.
               .right 
                  p.des 
                     | Gain in-demand medical billing and coding skills through a structured program designed for success. With dual certification, real-world practice, and career placement support, USA Medical Billing and Coding School prepares you for a stable and rewarding future in the U.S. healthcare industry.
            .program-slider 
               .swiper-container 
                  .swiper
                     .swiper-wrapper
                        each _, index in Array.from({ length: 3 })
                           .swiper-slide 
                              .program-box 
                                 +img("program-img.jpg")
                                 .program-content 
                                    p.program-name Master Medical Terminology
                                    p.program-des Learn medical terminology: prefixes, suffixes, roots, combining forms. Interpret medical reports accuratelya
               +SwiperControl()
   section.sec-uti 
      .uti 
         .container 
            .t-center.mb-24 
               p.uti-sub  WHAT YOU WILL GET
            .row.uti-list
               .col.col-4 
                  .uti-wrap
                     +img("uti-ic-1.svg")
                     .uti-content 
                        p.uti-name Dual US. Certifications (CPC & CPB, AAPC-accredited)
               .col.col-4 
                  .uti-wrap
                     +img("uti-ic-2.svg")
                     .uti-content 
                        p.uti-name Guaranteed job interview upon post-certification with us
               .col.col-4
                  .uti-wrap
                     +img("uti-ic-3.svg")
                     .uti-content 
                        p.uti-name Study from anywhere, anytime with a self-paced curriculum
   section.sec-qa 
      .qa.ss-pd 
         .container
            .t-center.qa-head
               .re-tag.mb-24 KEY BENEFITS
               h2.t-title.mb-16 What makes our program the best choice for you?
               p.des
                  | Our program is designed for your success with a structured curriculum, experienced instructors, and dedicated career support.
            .qa-wrapper
               .qa-list.collapse-block 
                  .qa-item.collapse-item
                     +img("qa-dc.png")
                     .qa-heading.collapse-head
                        p.title High Paying - Salaries
                        span.icon
                     .qa-body.collapse-body
                        .qa-flex
                           .qa-left 
                              p Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.
                           .qa-img 
                              +img("qa-img.jpg")
                  .qa-item.collapse-item
                     +img("qa-dc.png")
                     .qa-heading.collapse-head
                        p.title  Flexible Remote Working
                        span.icon
                     .qa-body.collapse-body
                        .qa-flex
                           .qa-left 
                              p Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.
                           .qa-img 
                              +img("qa-img.jpg")
                  .qa-item.collapse-item
                     +img("qa-dc.png")
                     .qa-heading.collapse-head
                        p.title Easy Studying Schedule
                        span.icon
                     .qa-body.collapse-body
                        .qa-flex
                           .qa-left 
                              p Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.
                           .qa-img 
                              +img("qa-img.jpg")
                  .qa-item.collapse-item
                     +img("qa-dc.png")
                     .qa-heading.collapse-head
                        p.title Long-term job stability
                        span.icon
                     .qa-body.collapse-body
                        .qa-flex
                           .qa-left 
                              p Medical Billing & Coding can potentially lead to high-paying salaries, depending on various factors such as experience, certifications, and the complexity of the coding work. Medical coders play a crucial role in the healthcare industry by translating medical services, procedures, and diagnoses into alphanumeric codes. These codes are used for billing purposes, insurance claims, and maintaining accurate patient records.
                           .qa-img 
                              +img("qa-img.jpg")
   +lead
   section.sec-ab
      .ab.ss-pd
         .container 
            .row.ab-row
               .col.col-6.ab-col 
                  .ab-content
                     .ab-head
                        .re-tag AFFORDABLE OPTIONS
                        h2.t-title Flexible Payment.
                        p.des Flexible payment plans make your education affordable and accessible, with discounts and installment options available.
                     ul.ab-list.second
                        li.ab-item
                           .ab-flex 
                              +img("ic-checked.svg")
                              span.txt Online Payments
                        li.ab-item
                           .ab-flex 
                              +img("ic-checked.svg")
                              span.txt Student Loans
                        li.ab-item
                           .ab-flex 
                              +img("ic-checked.svg")
                              span.txt Monthly Payments
                        li.ab-item
                           .ab-flex 
                              +img("ic-checked.svg")
                              span.txt School Scholarships Available 
                        li.ab-item
                           .ab-flex 
                              +img("ic-checked.svg")
                              span.txt One-Time Payment Discount
                           
               .col.col-6.ab-col
                  .ab-img 
                     +img("ab-img-1.jpg")
   section.sec-ab
      .ab.ss-pd
         .container 
            .row.ab-row
               .col.col-6.ab-col
                  .ab-img.second
                     +img("ab-img-2.jpg")
               .col.col-6.ab-col 
                  .ab-head
                     .re-tag ABOUT US
                     h2.t-title Get to know us.
                     p.des We are passionately committed to delivering opportunities and bridging the gap between the needs of the healthcare industry and individuals seeking career satisfaction, while transforming lives and communities.
                  .ab-ls
                     .ab-it
                        p.title Our Vision
                        p.des To empower students to thrive as professional medical coders and billers, supporting their 
                     .ab-it
                        p.title Our Strategy
                        p.des To empower students to thrive as professional medical coders and billers, supporting their   
                  +Btn("About Us")
   section.sec-call 
      .call.ss-pd.ss-mg-t
         .container
            .call-wrapper 
               .call-row
                  .call-col
                     .call-content
                        p.t-title Start Your U.S. Medical Billing & Coding Career Today!
                        +Btn("Enroll Now", "", "white")
                  .call-col
                     .call-img
                        a.call-action
                           .in
                              +img("ic-call.svg")
                        .inner 
                           +img("call-img.png")
   section.sec-blog-rl.ss-pd.sec-blog-home
      .container 
         .blog-rl
            .blog-rl-head.mb-32.t-center
               .re-tag.mb-24 BLOGS
               +title("Explore the World of Medical Billing & Coding.")
            .blog-rl-block 
               .blog-rl-slider.slideSw
                  .b-sw.posi-rl
                     +Swiper()
                        each i,index in Array(4)
                           .swiper-slide.col.col-4 
                              +news(index)
                  +pagination()
   section.sec-regi 
      .regi.ss-pd
         .regi-dc 
            +img("regi-dc.png")
         .container 
            .t-center.regi-head
               .re-tag.mb-24 REGISTER 
               h2.t-title 
                | Sign Up for Your Future in  
                br
                | Healthcare Industry.
            .regi-wrapper
               .regi-row 
                  .regi-col
                     p.regi-title Register form
                     .regi-form 
                        form(action="")
                           .form-list.row
                              .col.form-ip 
                                 select(name="").re-select-main
                                    option(value="") Choose your city
                                    option(value="") ABC
                                    option(value="") XYZ
                              .col.col-6.form-ip
                                 input(type="text" placeholder="First name")
                              .col.col-6.form-ip
                                 input(type="text" placeholder="Last name")
                              .col.form-ip
                                 input(type="text" placeholder="Email Address") 
                              .col.form-ip
                                 input(type="text" placeholder="Phone Number")
                           .regi-control
                              +Btn("Send Us","button") 
                  .regi-col
                     .regi-img
                        +img("regi-img.png")

