extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-contact'

block container
   +bnp("Contact us")
   .sec-ct.ss-pd 
      .container 
         .ct
            .ct-wrap 
               .ct-row.row 
                  .col.col-5
                  .col.col-7