extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-contact'

block container
   +bnp("Contact us")
   .sec-ct.ss-pd 
      .container 
         .ct
            .ct-wrap 
               .ct-row.row 
                  .col.col-5
                     .ct-info 
                        .t-head 
                           span.t28.c-white.fw-7 Contact Information
                           p.c-txt.t18 Say something to start a live chat!
                        .b-mid.d-flex.d-col.gap24
                           .ft-ct.iwt 
                              span.icon 
                                 +img("ic-ad (1).svg")
                              .t-gr 
                                 span.txt.fw-4 Address: 
                                 a(href="").text 3687 Briarcliff Rd NE Atlanta, GA 30345 
                           .ft-ct.iwt 
                              span.icon 
                                 +img("ic-ad (2).svg")
                              .t-gr 
                                 span.txt.fw-4 Phone:
                                 a(href="").text +1470-399-0965 
                           .ft-ct.iwt 
                              span.icon 
                                 +img("ic-ad (3).svg")
                              .t-gr 
                                 span.txt.fw-4 Email:
                                 a(href="").text info@usamedicalcoding-school.com
                        .social-list
                           each i,index in Array(3)
                              a(href="").social-link
                                 +img(`ft-sc (${index+1}).svg`)   
                  .col.col-7
                     .ct-panel 
                        .t-head.mb-40
                           +title("Get in touch")
                        .ct-form 
                           form(action="")
                              .form-list.row 
                                 .col.form-ip 
                                    select(name="").re-select-main
                                       option(value="") Choose Program
                                       option(value="")  Medical Billing & Coding
                                       option(value="")  Medical Billing
                                       option(value="")  Medical Coding
                                 .col.col-6.form-ip 
                                    input(type="text" placeholder="Firt name")
                                 .col.col-6.form-ip 
                                    input(type="text" placeholder="Last name")
                                 .col.col-6.form-ip 
                                    input(type="text" placeholder="Email Address")
                                 .col.col-6.form-ip 
                                    input(type="text" placeholder="Phone Number")
                              .b-submit 
                                 +Btn("Send Us","button")
   section.sec-ctm.ss-pd-b 
      .container 
         .ctm 
            .ctm-wrap 
               .ctm-head.mb-40
                  +title("Find us on Google Maps","","t-center")
               .ctm-panel 
                  .ctm-iframe 
                     .inner 
                        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13255.0327818513!2d-84.28940106459602!3d33.8443459988415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5091426ed1eb3%3A0xc5b5fcaa3ed96216!2sUSA%20Medical%20Billing%20and%20Coding%20School!5e0!3m2!1svi!2s!4v1743637784524!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")