extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-payment'

block container
   +bnp("Payment")
   .sec-spay
      .container 
         .spay
            .spay-wrap 
               .spay-list.row
                  .col.col-4 
                     .spay-it 
                        .b-inner 
                           .b-top 
                              .t-gr 
                                 span.txt Learn 1 course
                                 span.txt Earn 1 certificate
                              h2.t-text Certified Professional Coder
                           .b-mid 
                              span.t-price $7,000.00
                              .d-flex.gap16 
                                 +Btn("Add to cart","","second")
                                 +Btn("Buy course","","trans")
                           .b-info 
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (1).svg")
                                 span.txt Study online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (2).svg")
                                 span.txt Exam online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (3).svg")
                                 span.txt Job interview online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (4).svg")
                                 span.txt Work online
                           .b-img 
                              .inner 
                                 +img("spay-img (1).jpg")
                  .col.col-4 
                     .spay-it 
                        .b-inner 
                           .b-top 
                              .t-gr 
                                 span.txt Learn 1 course
                                 span.txt Earn 1 certificate
                              h2.t-text Certified Professional Coder
                           .b-mid 
                              span.t-price $7,000.00
                              .d-flex.gap16 
                                 +Btn("Add to cart","","second")
                                 +Btn("Buy course","","trans")
                           .b-info 
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (1).svg")
                                 span.txt Study online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (2).svg")
                                 span.txt Exam online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (3).svg")
                                 span.txt Job interview online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (4).svg")
                                 span.txt Work online
                           .b-img 
                              .inner 
                                 +img("spay-img (2).jpg")
                  .col.col-4 
                     .spay-it.best-value
                        .b-pos 
                           span.txt BEST VALUE
                        .b-inner 
                           .b-top 
                              .t-gr 
                                 span.txt Learn 1 course
                                 span.txt Earn 2 certificate
                              h2.t-text Certified Professional Biller & Certified Professional Coder
                           .b-mid 
                              span.t-price $8,280.00
                              .d-flex.gap16 
                                 +Btn("Add to cart","","second")
                                 +Btn("Buy course","","trans")
                           .b-info 
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (1).svg")
                                 span.txt Study online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (2).svg")
                                 span.txt Exam online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (3).svg")
                                 span.txt Job interview online
                              .iwt 
                                 span.icon 
                                    +img("spay-icon (4).svg")
                                 span.txt Work online
                           .b-img 
                              .inner 
                                 +img("spay-img (3).jpg")               